.navbar {
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  .navbar-list {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
  }
  
  .navbar-item {
    margin-right: 10px;
  }
  
  .navbar-item a {
    text-decoration: none;
    color: #333;
  }